*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #C5F7F0;
    font-family: "League Spartan";
    font-size: 40px;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
}
.linha1{
    background-color: #A9C2C9;
}
td{
    height: 10vh;
    width: 10%;
}
ul{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav, p{
    color: #72577C;
}
.rodape{
    font-size: 22px;
    color: black;
}
h1{
    font-size: 42px;
    text-align: center;
}
.preto{
    color: black;
    text-align: center;
    font-size: 1em;
}
.roxo{
    font-size: 1em;
    text-align: center;
}
tr{
    position: relative;
}
.gmail{
    text-decoration: underline;
}
.logo{
    height: 80px;
}
a{
    color: #72577C;
    text-decoration: none;
}
.HOME:hover,.CONTATO:hover,.SOBRE:hover{
    text-decoration: underline;
    color: #530270;
}
